.vscode
.config/aria2/aria2.conf/*.dat
.config/ranger/__pycache__
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__
.config/nvim/plugins
.config/nvim/plugged
.config/nvim/.netrwhist
.config/clash/.cache
.config/clash/cache.db
.config/mpv/watch_later/
.config/mpv/vs-plugins/
.config/mpv/icc-cache/
.config/mpv/mpv-livetweet.lua
