.vscode
./.config/aria2/aria2.conf/dht*
.config/ranger/__pycache__
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__
.config/nvim/plugins
.config/nvim/plugged
.config/nvim/.netrwhist
.config/clash/.cache
